#start {
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 7em;
  width: 50ch;
  display: block;
  border-style: solid;
  border-radius: 15px;
  background-color: #999;
}

#play {
  display: none;
}

button {
  font-size: 30px;
  border-radius: 5px;
}

p {
  font-size: 40px;
}
