body {
  background-color: #7c7c7c;
}

h1, h2 {
  text-align: center;
}

div {

  background-color: #acacac;
  width: 80ch;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
